<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>

{% extends 'DjangoRecipeApp/main.html' %}
    {% block content %}
    <a href="{% url 'Recipe_List' %}">Go Back</a>
    <div class="container" style="text-align: center">
    <form method="post" action="">
        {% csrf_token %}
        <h6>Are you sure to delete this recipe "{{Recipe}}" ?</h6><br>
        <input type="submit" class="btn btn-primary" value="Delete">
    </form>
    </div>
    {% endblock content %}
</body>
</html>