<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>

</head>
<body>
    {% extends 'DjangoRecipeApp/main.html' %}
    {% block content %}
    <div class="header-bar">
        {% if request.user.is_authenticated %}
        <h3>Hello <strong>{{request.user}}</strong></h3>
        <a href="{% url 'user-logout' %}">LogOut</a>
        {% else %}
             <a href="{% url 'user-login' %}">LogIn</a>
        {%endif%}
    </div>

    <hr>
    <div  style="text-align: center">
        <h1  >All Recipe List</h1>
        <button><a href="{% url 'recipe-create'%}" style="text-decoration: none">Add Recipe</a>
        </button> <br><br>

        <form method="get" >
            <p>
                <select name="search-category">
                    <option value="">All Categories</option>
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>

            <input type="submit" value="Search by Category">
            </p>

            <p>
                <select name="search-tag">
                    <option value="">All Tag</option>
                    {% for tag in tags.all %}
                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>

            <input type="submit" value="Search by Tag">
            </p>

            <input type="text" name="search-area" value="{{search_input}}">
            <input type="submit" value="Search by Item">


        </form>
    </div>
    <br>

     {% if Recipes %}
    <table class="table table-bordered text-center ">
        <tr>
            <th>Recipe Items</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Author</th>
        </tr>
        {% for x in Recipes %}
            <tr>
                <td>{{x.title}}</td>
                <td><a href="{% url 'Recipe_Details' x.id %}">View</a></td>
                {% if request.user == x.user %}
                    <td><a href="{% url 'recipe-update' x.id %}">Edit</a></td>
                    <td><a href="{% url 'recipe-delete' x.id %}">Delete</a></td>
                {% else %}
                    <td>__</td>
                    <td>__</td>
                {% endif %}
                <td>{{x.user}}</td>
            </tr>
        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}

    </table>
    {% else %}
    <h3>No items in list</h3>
    {% endif %}
    <p>
        Page{{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </p>

    <nav>
        {% if page_obj.has_other_pages %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3">First</a>
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}"></a> <i class="fas fa-angle-double-left"></i> </li>
            {% else %}
            <li class="page-item disable"></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only"></span></span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}"><i class="fas fa-angle-double-right"></i></a> </li>
            <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-secondary mb-4" style="border-radius: 1px; border: 1px solid #d3d3d3">Last</a>
            {% else %}
            <li class="page-item disable"></li>
            {% endif %}

        </ul>
        {% endif %}
    </nav>

    {% endblock content %}

</body>
</html>

