<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>

</head>
<body>
    {% extends 'DjangoRecipeApp/main.html' %}
    {% block content %}
    <div class="header-bar">
        {% if request.user.is_authenticated %}
        <h3>Hello <strong>{{request.user}}</strong></h3>
        <a href="{% url 'user-logout' %}">LogOut</a>
        {% else %}
             <a href="{% url 'user-login' %}">LogIn</a>
        {%endif%}
    </div>

    <hr>
    <h1>All Recipe List</h1>
    <button><a href="{% url 'recipe-create'%}" style="text-decoration: none">Add Recipe</a>
    </button> <br><br>

    <form method="get">
        <input type="text" name="search-area" value="{{search_input}}">
        <input type="submit" value="Search">

    </form>

    <table >
        <tr>
            <th>Items</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Author</th>
            <th>Comment</th>
            <th>Rating</th>
        </tr>
        {% for x in Recipes %}
            <tr>
                <td>{{x.title}}</td>
                <td><a href="{% url 'Recipe_Details' x.id %}">View</a></td>
                {% if request.user == x.user %}
                    <td><a href="{% url 'recipe-update' x.id %}">Edit</a></td>
                    <td><a href="{% url 'recipe-delete' x.id %}">Delete</a></td>
                {% else %}
                    <td>__</td>
                    <td>__</td>
                {% endif %}
                <td>{{x.user}}</td>
                {% if request.user != x.user %}
                    <td><a href="{% url 'recipes_comment' x.id %}">Comment Here</a></td>
                    <td>
                        <input type="radio" id="1_star" name="rating" value="1">
                        <label for="1_star">*</label>
                        <input type="radio" id="2_star" name="rating" value="2">
                        <label for="2_star">**</label>
                        <input type="radio" id="3_star" name="rating" value="3">
                        <label for="3_star">***</label>
<!--                        <input type="radio" id="4_star" name="rating" value="4">-->
<!--                        <label for="4_star">****</label>-->
<!--                        <input type="radio" id="5_star" name="rating" value="5">-->
<!--                        <label for="5_star">*****</label>-->
                    </td>
                {% else %}
                    <td>__</td>
                    <td>__</td>
                {% endif %}
            </tr>
        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}

    </table>

    
    {% endblock content %}

</body>
</html>

